<nav class="custom_nav navbar navbar-dark navbar-expand fixed-bottom justify-content-center">
    <div class="container-fluid">
        <ul class="navbar-nav nav-justified w-100 text-center">
            <li class="nav-item">
                <NavLink class="nav-link d-flex flex-column" href="" Match="NavLinkMatch.All">
                    <span>Главная</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link d-flex flex-column" href="university-search">
                    <span>Поиск</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link d-flex flex-column" href="speciality-search">
                    <span>Поиск 2</span>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>